@import '../fonts/FSPDEMO/style.css';
@import '../fonts/FSPDEMO/style.css';
@import '../styles/breakpoints.scss';

html {
	background-color: #05013a;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #05013a;
	overflow: overlay;
}

.viewMain {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
}

.viewBlock {
	padding-left: 280px;
	padding-right: 280px;
	@include media-breakpoint-down(xxl) {
		padding-left: 120px;
		padding-right: 120px;
	}
	@include media-breakpoint-down(xl) {
		padding-left: 80px;
		padding-right: 80px;
	}
	@include media-breakpoint-down(lg) {
		padding-left: 48px;
		padding-right: 48px;
	}
	@include media-breakpoint-down(md) {
		padding-left: 32px;
		padding-right: 32px;
	}
	@include media-breakpoint-down(sm) {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.viewFull {
	padding-left: 80px;
	padding-right: 80px;
	@include media-breakpoint-down(xxl) {
		padding-left: 56px;
		padding-right: 56px;
	}
	@include media-breakpoint-down(xl) {
		padding-left: 48px;
		padding-right: 48px;
	}
	@include media-breakpoint-down(lg) {
		padding-left: 32px;
		padding-right: 32px;
	}
	@include media-breakpoint-down(md) {
		padding-left: 24px;
		padding-right: 24px;
	}
	@include media-breakpoint-down(sm) {
		padding-left: 12px;
		padding-right: 12px;
	}
}

.viewTop {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;

	@include media-breakpoint-down(xxl) {
		padding-left: 32px;
		padding-right: 32px;
		min-height: 90vh;
	}
	@include media-breakpoint-down(xl) {
		padding-left: 24px;
		padding-right: 24px;
		min-height: 80vh;
		&.top-faq,
		&.top-rental,
		&.top-awakening {
			min-height: 400px;
		}
	}
	@include media-breakpoint-down(lg) {
		min-height: auto;
		padding-left: 24px;
		padding-right: 24px;
	}
	@include media-breakpoint-down(md) {
		min-height: auto;
		padding-left: 16px;
		padding-right: 16px;
	}
	@include media-breakpoint-down(sm) {
		padding-left: 12px;
		padding-right: 12px;
	}
}

.scroll-to-top {
	position: fixed;
	bottom: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	z-index: 9999999;
	background: #ffffff00;
	border: 3px solid #bc35ef;
	border-radius: 50%;
	color: #bc35ef;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	transition:
		opacity 0.3s ease,
		transform 0.3s ease;

	&.visible {
		opacity: 1;
		transform: translateY(0);
	}

	&:hover {
		background: #a12cd1;
		color: #ffffff;
		transform: translateY(-5px);
	}

	@media (max-width: 1000px) {
		display: none;
	}
}
